/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v11/1Ptgg87LROyAm0K0.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNb4g.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 1px solid red;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}
p {
  font-size: 1.6rem;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 100%;
  font-size: 1.6rem;
}
.container .header {
  background-color: #424242;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .header nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.container .header nav a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
  padding: 1% 2%;
}
.container .header nav a:hover {
  color: dodgerblue;
  background: #5e5e5e;
}
.container .header #social {
  width: 25%;
  display: flex;
  flex-direction: flex-end;
  justify-content: space-between;
  align-items: center;
}
.container .header #social h2 {
  color: white;
  font-size: 3.2rem;
  padding: 0 2%;
}
.container .header #social a {
  color: white;
  padding: 20px;
  width: 10%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 2rem;
}
.container .header #social .fa-facebook {
  background: #3B5998;
}
.container .header #social .fa-twitter {
  background: #45bbff;
}
.container #home {
  display: flex;
}
.container #home .left {
  width: 50%;
}
.container #home .left .text-container {
  padding: 10% 10% 10% 20%;
  display: flex;
  flex-direction: column;
}
.container #home .left .text-container h1 {
  color: #424242;
  font-size: 5.2rem;
  padding: 5% 0;
}
.container #home .left .text-container p {
  font-size: 2.4rem;
  padding: 4% 0;
}
.container #home .left .text-container #homeText {
  text-transform: capitalize;
  color: #424242;
  font-weight: bold;
  padding: 0;
}
.container #home .right {
  width: 50%;
}
.container #home .right img {
  width: 100%;
  height: 100%;
}
.container #about {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.container #about .text-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.container #about .text-container .littleBox {
  padding: 5%;
  background: white;
  width: 50%;
  margin: 10% 0;
  display: flex;
  flex-direction: column;
}
.container #about .text-container .littleBox h3 {
  color: #424242;
  text-transform: capitalize;
  font-size: 2.8rem;
  text-align: center;
  padding: 4% 0;
}
.container #about .text-container .littleBox p {
  font-size: 1.8rem;
}
.container #experience .exp-image {
  background-image: url("https://images.unsplash.com/photo-1535136104956-115a2cd67fc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1233&q=80");
  position: relative;
  text-align: center;
  color: white;
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container #experience .exp-image h3 {
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 2%;
  border: 2px solid white;
}
.container #experience .text-container {
  background: #424242;
  color: white;
}
.container #experience .text-container .littleBox {
  width: 80%;
  margin: 2% auto;
}
.container #experience .text-container .littleBox .text {
  padding: 1% 0;
}
.container #experience .text-container h4 {
  font-size: 2.4rem;
}
.container #experience .text-container p {
  font-size: 1.8rem;
}
.container #portfolio {
  background: dodgerblue;
}
.container #portfolio p {
  width: 80%;
  margin: 0 auto;
  padding: 3%;
  text-align: center;
  font-size: 2.4rem;
}
.container #portfolio .images {
  background-image: url("https://images.unsplash.com/photo-1535136104956-115a2cd67fc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1233&q=80");
  position: relative;
  text-align: center;
  color: white;
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container #portfolio .images h4 {
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 2%;
  border: 2px solid white;
}
.container #portfolio .gallery {
  width: 80%;
  margin: 4% auto;
  display: flex;
  justify-content: space-evenly;
}
.container #portfolio .gallery .polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.container #portfolio .explain {
  color: white;
}
.container #quote {
  background: -webkit-linear-gradient(#ffffff, #0076e1);
  display: flex;
}
.container #quote .left {
  width: 50%;
}
.container #quote .left .text {
  margin: 5% 5% 5% 20%;
  padding: 4% auto;
  background: white;
  height: 800px;
  text-align: center;
}
.container #quote .left .text p {
  padding: 5%;
}
.container #quote .left .text .justify-left {
  text-align: end;
  padding: 2%;
}
.container #quote .left p {
  font-size: 3.2rem;
}
.container #quote .right img {
  width: 100%;
  height: 100%;
}
.container #quote .right {
  width: 50%;
}
